body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 56px;
  text-align: center;
}

h3 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 48px;
  text-align: center;
}

h4 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

span {
  background-color: #FCC127;
}

.cases {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #1E1F24;
  border: 1px solid #1E1F24;
  padding: 24px 60px;
  margin-top: 50px;
}

.caption {
  width: 200px;
  margin: 50px auto;
  text-align: center;
  background-color: #FFC126;
  padding: 20px 35px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.clearfix {
  clear: both;
}

.pre-header {
  height: 40px;
  background-color: #1E1F24;
}

.img-center {
  text-align: center;
}

header {
  background-color: #fff;
  height: 100px;
}

header img {
  margin: 28px 0 27px 55px;
}

header ul {
  float: right;
  list-style-type: none;
  margin-top: 39px;
}

header ul li {
  display: inline-block;
  padding-right: 74px;
}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #1E1F24;
  font-family: "Montserrat", sans-serif;
}

header ul li a:hover {
  border-bottom: 1px solid #1E1F24;
}

.drupal-team {
  height: 760px;
  background-color: #FCC127;
  color: #1E1F24;
}

.drupal-team img {
  margin-top: 90px;
}

.drupal-team h1 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 100px;
  text-align: center;
  margin: 10px 0 10px;
}

.drupal-team p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.table-bckgr {
  padding: 0;
  height: 850px;
  background: url("../images/table_background_top.png") no-repeat 50% 50%;
  margin-top: -230px;
}

.about-us {
  background-color: #fff;
  padding-bottom: 100px;
}

.about-us h3 {
  padding-bottom: 90px;
}

.promo-item-img {
  text-align: center;
}

.promo-item-header {
  text-align: center;
  font-size: 24px;
  font-family: 'MontserratBold', sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 0.15em;
}

.promo-item-text {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  margin-top: 5px;
}

.drupal-main {
  padding-top: 85px;
  background-color: #F5F5F5;
  padding-bottom: 60px;
}

.drupal-main .layer1 {
  display: inline-block;
  height: 390px;
  width: 482px;
  background: url("../images/yellow_figure.png") no-repeat 0px 89px;
}

.drupal-main .layer2 {
  height: 393px;
  width: 640px;
  background: url("../images/drupal_figure.png") no-repeat 319px 10px;
}

.description-right {
  display: inline-block;
  float: right;
  margin-top: 77px;
  margin-right: 5%;
}

.description-right h3 {
  text-align: left;
}

.description-right p {
  font-family: "Montserrat", sans-serif;
  line-height: 29px;
  font-size: 16px;
  padding-left: 5px;
  letter-spacing: 0.15em;
}

.description-left {
  display: inline-block;
  margin-top: 200px;
}

.description-left h3 {
  text-align: left;
  margin-bottom: 15px;
}

.description-left ul {
  font-size: 14px;
  float: left;
  list-style-image: url("../images/lstyle-image.png");
}

.description-left ul li {
  margin-left: 25px;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  line-height: 59px;
}

.layer3 {
  display: inline-block;
  float: right;
  margin-top: 215px;
  height: 345px;
  width: 750px;
  background: url("../images/yellow_figure2.png") no-repeat 0 45px;
}

.layer4 {
  height: 320px;
  width: 640px;
  background: url("../images/drupal_figure2.png") no-repeat 180px 0px;
}

.our-work {
  background-color: #1E1F24;
  height: 955px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.our-work h2 {
  color: #fff;
  margin-bottom: 10px;
}

.left-arrow {
  display: inline-block;
  position: relative;
  left: 25px;
  top: 345px;
}

.right-arrow {
  display: inline-block;
  position: relative;
  right: 25px;
  bottom: 354px;
  float: right;
}

.nikon {
  height: 651px;
  width: 1150px;
  background-color: #fff;
  margin: 0 auto;
}

.nikon-bckgr {
  float: left;
  height: 651px;
  width: 455px;
  background: url("../images/nikon.png") no-repeat 0 70px;
}

.opacity-bckgr {
  margin: 0;
  padding: 0;
  height: 651px;
  width: 300px;
  background-color: #4F4F4F;
  background-position: 10px 10px;
  opacity: 0.5;
}

.nikon-content {
  display: inline-block;
  margin-left: 12%;
  font-family: "Montserrat", sans-serif;
}

.nikon-content h2 {
  text-align: left;
  color: #000;
}

.why-we {
  background-color: #fff;
  padding-bottom: 80px;
}

.why-we-item {
  margin-top: 50px;
}

.why-we-item-img {
  text-align: center;
}

.why-we-text {
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 39px;
  font-size: 16px;
  letter-spacing: 0.15em;
}

.contact-us {
  height: 240px;
  background-color: #202020;
  padding-bottom: 15px;
}

.contact-us .email-button {
  width: 801px;
  height: 70px;
  margin: 0 auto;
  padding-top: 70px;
}

.contact-us input[type="email"] {
  height: 65px;
  width: 615px;
  outline: none;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  border: 1px solid #E7EAEF;
  color: #BABCBF;
  padding-left: 23px;
  border-radius: 2px 0 0 2px;
}

.contact-us input[type="submit"] {
  height: 69px;
  width: 160px;
  border: none;
  background-color: #11AD7F;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  vertical-align: middle;
  float: right;
  border-radius: 2px;
  margin-right: 1px;
}

.contact-us p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  opacity: 0.3;
  text-align: center;
  margin-top: 30px;
}

.our-service {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-bottom: 100px;
}

.flex-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.service_left_img {
  display: inline-block;
  margin-top: 40px;
}

.service_text_right {
  margin-left: 50px;
  display: inline-block;
  vertical-align: 29px;
}

.our-service-bl1 {
  margin-left: 70px;
}

.our-service-bl2 {
  margin-left: 70px;
}

.our-approach {
  height: 2050px;
  background: url("../images/table_background_bottom.png") no-repeat 50% 128%;
}

.flex-content-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.left-content {
  flex-shrink: 0;
  margin-left: 45px;
}

.yellow-list {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0;
  letter-spacing: 0.15em;
}

.yellow-list li {
  list-style-image: url("../images/lstyle-image-yellow.png");
  line-height: 29px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.vertical {
  position: relative;
  top: 1238px;
  height: 100px;
  width: 300px;
  transform: rotate(-90deg);
}

.right-content {
  flex-shrink: 0;
  margin-top: 510px;
}

.green-list {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 0;
}

.green-list h4 {
  padding-bottom: 20px;
}

.green-list li {
  list-style-image: url("../images/lstyle-image-green.png");
  line-height: 33px;
  letter-spacing: 0.15em;
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 20px;
}

.left-text {
  width: 358px;
  text-align: right;
}

.green-line {
  margin-top: 10px;
  width: 881px;
  background-color: #11AD7F;
  height: 4px;
}

.left-text {
  width: 881px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.15em;
}

.hr-line {
  width: 1400px;
  margin-top: 40px;
  height: 1px;
  background-color: #1E1F24;
}

.yellow-line {
  margin-top: 40px;
  width: 328px;
  height: 4px;
  background-color: #FFC126;
}

.right-text {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15em;
}

.right-group {
  float: right;
}

footer {
  background-color: #1E1F24;
  height: 540px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

footer .top-padding {
  padding-top: 90px;
}

footer img {
  padding-top: 20px;
}

footer .line {
  width: 1100px;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
  margin-top: 40px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding-right: 40px;
}

footer ul li a > img {
  height: 45px;
}

footer p {
  color: #454545;
  margin-left: 55px;
  margin-top: 70px;
}

footer p > a {
  float: right;
  color: #11AD7F;
  text-decoration: none;
  margin-right: 55px;
}

footer p > a:hover {
  border-bottom: 1px solid #11AD7F;
}
